body {
    font-family: Arial;
    background-color: #ffffff;
    text-align: left;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 85px;
    background-color: #FF4F13;
    display: flex;
    justify-content: space-between;
    /* Распределение элементов по ширине */
    align-items: center;
    margin-bottom: 50px;
}


.logo img {
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin: 0 0 0 50px;

}


.search {
    width: 50%;

    text-align: center;
    /* Выравнивание текста по центру */
}

.search input {
    width: 100%;
    /* Уменьшил ширину поля поиска */
    padding: 5px;
    margin: 0 200px 0 80px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 12px;
    border: none
}

.icons {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin: 0 50px 0 0;
}

.icons a {
    margin-left: 20px;
    text-decoration: none;
}

.icons a img {
    max-width: 20px;
}

.icons a:hover img {
    opacity: 0.8;
}

h2 {
    margin-bottom: 80px;
    font-size: 30px;
    text-align: left;
    margin-left: 25%;
}

.form-group {
    max-width: 1280px;
    position: relative;
    margin-bottom: 60px;
    margin-left: 25%;
}

input[id="productName"] {
    background-color: #D9D9D9;
    height: 50px;
    width: 930px;
    border: none;
    border-radius: 25px;
    padding: 0 0 0 25px;
    font-size: 25px;
}

textarea[id="description"] {
    background-color: #D9D9D9;
    border: none;
    border-radius: 25px;
    padding: 25px 0 0 25px;
    font-size: 25px;
    max-width: 930px;
    max-height: 200px;
    min-width: 930px;
    min-height: 200px;
    font-family: Arial;
}

input[type=file] {
    display: none; }

.img__wrapper {
    max-width: 1920px;
    display: flex;
    flex-flow: row wrap;
    margin-left: calc(25%);
    margin-bottom: 60px;
    margin-top: 50px; }
    .img__wrapper img {
      object-fit: cover;
      max-width: 230px;
      max-height: 230px;
      min-width: 230px;
      min-height: 230px;
      margin-right: 130px;
      margin-bottom: 30px;
      border-radius: 15px; }

      
.download__button label {
    background-color: #D9D9D9;
    position: relative;
    width: 230px;
    height: 230px;
    display: block;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 130px;
 }

.line1 {
    position: absolute;
    width: 40px;
    height: 3px;
    top: 115px;
    left: 115px;
    background-color: #7e7e7e;
    transform: translate(-50%, -50%);
    border-radius: 100px; }
  
  .line2 {
    content: '';
    display: block;
    width: 3px;
    height: 40px;
    top: 115px;
    left: 115px;
    background-color: #6e6e6e;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100px; }

select[id="category"] {
    height: 50px;
    width: 590px;
    border: none;
    border-radius: 25px;
    font-size: 25px;
    background-color: #D9D9D9;
}
input[id="value"] {
    height: 50px;
    width: 310px;
    border: none;
    border-radius: 25px;
    padding: 0 0 0 25px;
    font-size: 25px;
    background-color: #D9D9D9;
    margin-left: 26px;
}
.text1 {
    font-size: 20px;
    margin-left: 115px;
    margin-top: 30px;
}

input[id="defaultNum"] {
    margin-left: calc(25% + 20px);
    margin-bottom: 30px;
}
label[id="labelForDefaultNum"] {
    position: relative;
    font-size: 20px;
}

input[id="differentNum"] {
    position: absolute;
    margin-left: calc(20px + 25%);
    margin-bottom: 30px;
}
label[id="labelFordifferentNum"] {
    position: absolute;
    left: 516px;
    font-size: 20px;
}
input[id="differentNumField"] {
    height: 50px;
    width: 445px;
    border: none;
    border-radius: 25px;
    background-color: #D9D9D9;
    margin-left: 20px;
    position: absolute;
    left: 565px;
    padding: 0 0 0 25px;
    font-size: 20px;
}

input[id="defaultLocation"] {
    margin-left: 420px;
}

input[id="differentlocation"] {
    position: absolute;
    left: 1105px;
}

label[id="labelFordifferentlocation"]{
    position: absolute;
    left: 1130px;
    font-size: 20px;
}

select[id="differentlocationField"] {
    height: 50px;
    width: 235px;
    border: none;
    border-radius: 25px;
    background-color: #D9D9D9;
    position: absolute;
    left: 1200px;
    font-size: 20px;
}

input[id="submit"] {
    border-radius: 25px;
    height: 50px;
    width: 620px;
    display: block;
    margin: 60px auto 0;
    border: none;
    background-color: #7800FF;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    top: 60px;
    margin-bottom: 60px;
    cursor: pointer;
}

label[id="labelForPN"]{
    font-size: 20px;
    position: relative;
    top: -50px;
    left: -935px;
}

label[id="labelForDescription"]{
    font-size: 20px;
    position: relative;
    top: -240px;
    left: -935px;
}

label[id="labelForUP"]{
    display: block;
    font-size: 20px;
    position: absolute;
    top: 585px;
    left: 120px;
}

label[id="labelForCategory"]{
    display: block;
    font-size: 20px;
    position: relative;
    bottom: 90px;
    left: 20px;
    max-width: 400px;
}

label[id="labelForValue"]{
    font-size: 20px;
    position: relative;
    bottom: 110px;
    left: 640px;
}

.span1 {
    margin-left: calc(25% + 20px);
    font-size: 20px;
    position: relative;
    top: -20px;
}

.span2 {
    margin-left: calc(25% - 50px);
    font-size: 20px;
    top: -20px;
    position: relative;
}

.hidden {
    display: none;
}

input.invalid, textarea.invalid {
    border: 1px solid red;
  }

.error-message {
    position: relative;
    color: red;
    font-size: 20px;
    display: none;
}

.error-message[id="productNameError"]{
    top: -35px; 
    left: 20px;
}

.error-message[id="valueError"]{
    max-width: 300px;
    top: -83px; 
    left: 640px;
}

.error-message[id="differentNumFieldError"]{
    position: relative;
    max-width: 400px;
    top: 15px;
    left: 600px;
}

.characterCount{
    position: absolute;
    max-width: 40px;
    top: 175px;
    left: 890px;
}

.empty{
    margin-top: 60px;
    color:#ffffff
}

footer{
    width: 100%;
    height: 186px;
    background-color: black;
    margin-top: 60px;
}