* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

.header {
    background-color: #FF4F13;
    display: flex;
    align-items: center;
    height: 85px;
}

.search {
    display: flex;
    flex: 0 0 60%;
    margin-right: 2%;
    height: 100%;

    align-items: center;

}

.search__input {
    width: 100%;
    /* Занимает всю доступную ширину внутри блока search */
    box-sizing: border-box;
    border-radius: 20px;
    height: 40%;
    padding-left: 20px;
    /* Учитывает padding и border в общей ширине элемента */
}

.search_item {
    background-color: #ffffff;
    position: relative;
    left: -4%;
    cursor: pointer;
}

.logo {
    margin-left: 5%;
    margin-right: 10%;
}

.logo:hover {
    background-color: #d34110;
    border-radius: 25px;
}

.icons__link {
    background-color: #FF4F13;
    position: relative;
    margin-right: 10%;
}

.icons__link:hover {
    border-radius: 40%;
    background-color: #d34110;
}


.icons {
    background-color: #FF4F13;
    width: 100%;
    padding-right: 3%;
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

#loginout-button {
    cursor: pointer;
    position: relative;
    top: -2px;
}

#loginout-button:hover {
    background-color: #d34110;
    border-radius: 40%;
}

.s-31 {
    min-height: 31px;
}