* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    position: relative;
    transition: filter 0.3s;

}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow', sans-serif;
    font-size: inherit;
    font-weight: 400;
}


a {
    color: black;
    transition: color 0.3s;
}

a:visited {
    color: black;
}

a:hover {
    color: #FF4F13;
    transition: color 0.3s;
}

a:active {
    color: black;
}


/* header left*/

.allitems {
    margin: 70px auto 0;
    max-width: 1580px;
}

/*swiper*/


.swiper {
    max-width: 50%;
    max-height: 50%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-self: center;

}

.swiper-slide img {
    display: inline-flex;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    align-items: center;
    border: 6px solid #ffffff;
    border-radius: 25px;


}

.favorite {
    font-size: 24px;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    max-width: 47px;
    max-height: 47px;
    cursor: pointer;
    background-color: white;
    position: relative;
    z-index: 2;
    top: -3px;
    left: -2%;
    margin-bottom: 13px;
}

.favorite img {
    margin: 10px 5px 5px 5px;
    cursor: pointer;
    transition: filter 0.3s;
}

.favorite.clicked img {
    filter: none;
}


footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    height: 230px;
}

.footer-content {
    padding: 60px 144px 60px 100px;
}

.social-links {
    margin-top: 10px;
}

.pashtet {
    font-size: 50px;
    font-family: Barlow, sans-serif;
}

.info {
    width: 500px;
    opacity: 0.6;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    top: -50px;
    left: 700px;
}

#login-logout-button {
    position: absolute;
    background-color: #7800FF;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    left: 92%;
}

#login-logout-button:hover {
    background-color: #943cf9;
}

.flex_item {
    display: flex;
    width: 100%;
}

.swiper.mySwiper {
    width: 50%;
    height: 100%;

    /* Половина ширины блока flex_item */
}

.swiper-button-next,
.swiper-button-prev {

    --swiper-theme-color: #FF4F13;
    /* background-color: #FF4F13;*/
    /* Задаем значение переменной */
}


.description {
    width: 100%;
    /* Половина ширины блока flex_item */
    height: 60%;
    /* Половина высоты сверху */

}

.seller__description {
    width: 100%;
    /* Половина ширины блока flex_item */
    height: 50%;
    /* Половина высоты снизу */
}

.comments {
    height: 372px;
}

.myr {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}


.buy-button {
    background-color: #7800FF;
    color: #fff;
    border: none;
    padding: 5px 50px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;


    position: relative;
}


.buy-button:hover {
    background-color: #9335ff;
}

.product__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 13px;
}

.all_stars {
    display: flex;
    margin-bottom: 35px;
}

.price {
    font-weight: bold;
    font-size: 25px;
    margin-right: 8%;

}

.twoprice {
    margin-right: 8%;
    display: flex;
    position: relative;
}

.pricezsu {
    position: relative;

}

.cina {
    font-weight: bold;
    position: absolute;
    font-size: 18px;
    top: 20%;
    left: 10%;
}

.allprices {
    display: flex;
    margin: 5% 0 0 0;
}

.opis {
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
}

.opis__all {
    font-size: 20px;
}


.coment_sell {
    background-color: #fff;
    color: #7800FF;

    border: 3px solid #7800FF;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;

    position: relative;
    left: 80%;
    top: -10%;
}


.coment_sell:hover {
    background-color: #a85cff;
    border: 3px solid #a85cff;
    color: #fff;
}

.custom-input {
    width: 100%;
    height: 70px;
    border: 3px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px;
    resize: none;
}

.all_stars_1 {
    display: flex;
    margin-bottom: 5px;
}

.seller {
    background-color: #ECECEC;
    position: relative;
    border-radius: 25px;
    margin-bottom: 29px;
    margin-top: 10px;
    max-height: 145px;
}

.lastname {
    font-size: 18px;
    position: absolute;
    top: 15%;
    left: 20%;
}

.name {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 20%;
    top: 34%;
}

.all_stars_1 {
    position: absolute;
    left: 20%;
    top: 60%;
}

.tellefon {
background-color: #fff;
    color: #7800FF;
    border: 3px solid #7800FF;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    position: absolute;
    top: 24%;
    left: 83%;
}

.tellefon:hover {
    background-color: #a85cff;
    border: 3px solid #a85cff;
    color: #fff;
}


.social-buttons {
    display: none;
    position: absolute;

    flex-direction: column;
    top: 30%;
    /* Измените положение, чтобы скроллбар был в нужном месте */
    left: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 25px;
    z-index: 2;

}

.social-button {
    background-color: #fff;
    color: #7800FF;
    border: 3px solid #7800FF;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
    margin: 5px;
}

.social-button:hover {
    background-color: #a85cff;
    border: 3px solid #a85cff;
    color: #fff;
}


.rating__product,
.rating__seller,
.rating__coment,
.rating__coment_under {
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;
    color: #575757;
}

.rating__coment_under {
    position: relative;
    top: -40px;
    left: 10%;

}

.rating__seller {
    position: relative;
    top: -63px;
    left: 150px;
    max-width: 100px;

}

.rating__coment {
    position: relative;
    left: 20px;
}

.rating__body {
    position: relative;
}


.rating__body::before {
    content: "★★★★★";
    display: block;
}

.rating__seller .rating__body::before {
    font-size: 30px;

}

.rating__seller .rating__active::before {
    font-size: 30px;

}

.rating__coment_under .rating__body::before {
    font-size: 20px;

}

.rating__coment_under .rating__active::before {
    font-size: 20px;

}

.rating__coment .rating__body::before {
    font-size: 30px;

}

.rating__coment .rating__active::before {
    font-size: 30px;

}

.rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}


.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffae19;

}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating__item,
.rating__item_prod {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating__value {
    font-size: 20px;
    line-height: 1;
    padding: 0 0 0 10px;
    color: #000;
}

.comments {
    height: auto;
}


.anime1 {
    text-align: center;
    border: 5px solid #ECECEC;
    width: 110px;
    line-height: 100px;
    border-radius: 100%;
    margin: 18px 10px;
    display: inline-block;
    vertical-align: top;
}

.comments-text {
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
}



.comments-items {
    margin: 10px 0 0 10px;
    position: relative;
}

.comments-item {
    background-color: #ECECEC;
    padding: 10px;
    border-radius: 25px;
    margin: 0 0 15px 0;
    display: flex;

}

.user-info {
    position: relative;
}

.avatar {
    position: relative;
    left: 10%;
    margin: 10px 0 15px 0;
    border-radius: 50%;
    height: 70px;
    width: auto;
}

.username {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    left: 10%;
    margin: 0 0 10px 0;
}

.date {
    position: relative;
    top: 0px;
    left: 0;
    font-size: 16px;
    opacity: 0.5;
    margin: 0 0 5px 0;

}

.rating__coment_under {
    position: relative;
    left: 10%;
    margin-bottom: 10px;
}

.comment-text {
    font-size: 25px;
    margin: 10px 0 0 80px;

}

.date {
    position: relative;
    top: 0px;
    left: 0;
    font-size: 16px;
    opacity: 0.5;
    margin: 0 0 5px 0;

}


.show-more-btn {
    background-color: #fff;
    color: #7800FF;
    border: 3px solid #7800FF;
    padding: 7px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    position: relative;
    top: 18%;
    left: 90%;
    margin: 0 0 20px 0;
}

.show-more-btn:hover {
    background-color: #a85cff;
    border: 3px solid #a85cff;
    color: #fff;
}


.rating__warning {
    display: none;
    color: red;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    margin-top: 5px;
    position: relative;
    border: 1px solid red;
    border-radius: 25px;
    text-align: center;
}

.rating__coment.warning .rating__warning {
    display: block;
    position: absolute;
    top: 0px;
    left: 170px;
    max-width: 200px;
}

/*---------------------------*/

.comentariy {
    display: none;
    width: 406px;
    height: 370px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    z-index: 2;
    background-color: #ffffff;
    border: 3px solid #666;

}


.container {
    position: relative;
    width: 400px;
    background: #e9e8e8;
    padding: 20px 30px;

    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .post {
    display: none;
}

.container .text {
    font-size: 25px;
    color: #666;
    font-weight: 500;
}

.container .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

.container .edit:hover {
    text-decoration: underline;
}

.container .star-widget input {
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #a8a8a8;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input:checked ~ label {
    color: #fd4;
}

input#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

#rate-1:checked ~ form header:before {
    content: "Я просто ненавиджу це ";
}

#rate-2:checked ~ form header:before {
    content: "Мені це не подобається ";
}

#rate-3:checked ~ form header:before {
    content: "Це приголомшливо";
}

#rate-4:checked ~ form header:before {
    content: "Мені просто подобається ";
}

#rate-5:checked ~ form header:before {
    content: "Я просто люблю це ";
}

.container form {
    display: none;
}

input:checked ~ form {
    display: block;
}

.header_coment {
    width: 100%;
    font-size: 25px;
    color: #ff6000;
    background-color: #e3e3e3;
    font-weight: 500;
    margin: 5px 0 20px 0;
    border: 2px solid #777;
    padding-left: 15%;
    text-align: center;
    align-items: center;
    transition: all 0.2s ease;
    border-radius: 25px;
}

form .textarea {
    height: 175px;
    margin-top: 75px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    color: #000000;
    border: 2px solid #777;
    background: #e3e3e3;
    border-radius: 25px;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.textarea textarea:focus {
    border-color: #777;
}

form .btn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .btn button {
    margin-top: 12px;
    height: 100%;
    width: 100%;
    border: 2px solid #777;
    outline: none;
    background: #e3e3e3;
    border-radius: 25px;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .btn button:hover {
    background: #1b1b1b;
}

.closeapp {
    position: absolute;
    cursor: pointer;
    top: 2%;
    left: 92%;
    border-radius: 50%;
}

.rating__coment_under {
    position: relative;
    left: 10%;
    top: 0%;
}

.no__product_text {
    margin-top: 15px;
    margin-left: -40px;
    min-width: 167px;
}

.comment-text-size {
    max-width: 1300px;
}