* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

.no__product {
    margin: 0 47% 0 45%;
    max-width: 100%;
    display: block;
    height: 400px;
    padding: 120px 0 0 0;

}

.no__product_img {
    max-width: 80px;
    max-height: auto;
    opacity: 0.5;
}

.no__product_text {
    margin-top: 15px;
    margin-left: -28px;
    min-width: 141px;

}

.block__element {
    display: block;
}

.no__product_img-search {
    max-width: 160px;
    margin-left: -100px;
    opacity: 0.5;
}

.no__product_text-search {
     margin-left: -140px;
    font-size: 24px;
    min-width: 250px;
}

.no__product_img-fav {
    max-width: 160px;
    margin-left: 15px;
    opacity: 0.5;
}

.no__product_text-fav {
     margin-left: -24px;
    font-size: 24px;
    min-width: 250px;
}