h2 {
    font-weight: 300;
}

.product {
    background-color: #ECECEC;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*padding: 1px;*/
    text-align: center;
    margin-right: 20px;
    position: relative;
    height: 385px;
}

.product-img {
    max-width: 290px;
    height: 290px;
    margin-bottom: 10px;
}

.favorite {
    font-size: 24px;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    max-width: 47px;
    max-height: 47px;
    cursor: pointer;
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 18px;
    left: 235px;
    margin-bottom: 13px;
}

.favorite img {
    margin: 10px 5px 5px 5px;
    cursor: pointer;
    transition: filter 0.3s;
}

.favorite.clicked img {
    filter: none;
}

h2 {
    font-size: 1.5rem;
    margin: 10px;
    white-space: normal;
    max-width: 251px;
    text-align: left;
    font-family: Arimo, sans-serif;
}


.price {
    font-weight: 600;
    text-align: left;
    font-family: Arimo, sans-serif;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    top: 348px;
    left: 20px;
}

.pricezsu,
.cina {
    text-align: left;
    font-family: Arimo, sans-serif;
    font-size: 14px;
    position: absolute;
    z-index: 2;
    top: 348px;
    left: 110px;
    font-weight: 600;
}

.cina {
    top: 350px;
    left: 112px;
}

.buy-button {
    background-color: #7800FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    position: absolute;
    z-index: 2;
    top: 328px;
    left: 192px;
}

.buy-button:hover {
    background-color: #9335ff;
}

.br-25{
    border-radius: 25px;
    max-width: 290px;
    min-height: 290px;
}