{% load static %}

<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta class="meta" charset="UTF-8">
    <meta class="meta" name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">mainpage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:wght@300;400;700&display=swap" rel="stylesheet">
    <link class="link" rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <link class="link" rel="stylesheet" href="{% static 'css/header.css' %}">
    <link class="link" rel="stylesheet" href="{% static 'css/product.css' %}">
    <link class="link" rel="stylesheet" href="{% static 'css/noproduct.css' %}">
    <script class="script" src="{% static 'js/give_access_token.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body class="page">
{% include 'shop/header.html' %}
<!-- Slider main container -->
<div class="pfi">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <a href="#"><img src="{% static 'img/banner2.svg' %}" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="#"></a><img src="{% static 'img/banner3.svg' %}" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="#"></a><img src="{% static 'img/banner4.svg' %}" alt=""></a>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

         If we need scrollbar
        <div class="swiper-scrollbar"></div>-->
    </div>
    <div class="categories">
        <div class="jewelry">
            <div class="imgjew">
                <!--<img class="imgjew__image" src="img/Vector.svg" alt="">-->
            </div>
            <div class="txt">
                <a class="txt__link_bizhyteria" href="http://127.0.0.1:8000/cat/1/">Біжутерія</a>
            </div>
        </div>
        <div class="decor">
            <div class="imgdec">
                <!--<img class="imgdec__image" src="img/interier.svg" alt="">-->
            </div>
            <div class="txt">
                <a class="txt__link_interer" href="http://127.0.0.1:8000/cat/2/">Інтрер'єр та декор</a>
            </div>
        </div>
        <div class="sets">
            <div class="imgsets">
                <!--<img class="imgsets__image" src="img/gift.svg" alt="">-->
            </div>
            <div class="txt">
                <a class="txt__link_gift" href="http://127.0.0.1:8000/cat/3/">Подарункові набори</a>
            </div>
        </div>
        <div class="textile_products">
            <div class="imgproducts">
                <!--<img class="imgproducts__image" src="img/tekstil.svg" alt="">-->
            </div>
            <div class="txt">
                <a class="txt__link_tekstil" href="http://127.0.0.1:8000/cat/4/">Текстильні вироби</a>
            </div>
        </div>
        <div class="ceramics_and_phosphorus">
            <div class="imgceramic">
                <!--<img class="imgceramic__image" src="img/keramica.svg" alt="">-->
            </div>
            <div class="txt">
                <a class="txt__link_ceramic" href="http://127.0.0.1:8000/cat/5/">Кераміка та фарфор</a>
            </div>
        </div>
        <div class="makeup">
            <div class="imgmakeup">
                <!--<img class="imgmakeup__image" src="img/cosmetic.svg" alt="">-->
            </div>
            <div class="txt">
                <a class="txt__link_cosmetic" href="http://127.0.0.1:8000/cat/6/">Косметика та мило</a>
            </div>
        </div>
        <div class="art">
            <div class="imgart">
                <!--<img class="imgart__image" src="img/mistectvo.svg" alt="">-->
            </div>
            <div class="txt">
                <a class="txt__link_mistectvo" href="http://127.0.0.1:8000/cat/7/">Мистецтво</a>
            </div>
        </div>
        <div class="clothes">
            <div class="imgclothes">
                <!--<img class="imgclothes__image" src="img/odag.svg" alt="">-->
            </div>
            <div class="txt">
                <a class="txt__link_clothes" href="http://127.0.0.1:8000/cat/8/">Одяг та аксесуари</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="new_items">
            <div class="textnew">
                Нові Товари
            </div>
            <div class="vievmoreitem">
                <a href="http://127.0.0.1:8000/search/?page=1&sort_by=new">Показати ще</a>
            </div>
            <div class="imgproductitem">
                <div class="block">
                    <div class="block__row">
                        {% for product in products %}
                            <div class="block__element block__element_1">
                                <div class="block__content">
                                    <div class="product" data-product-id="{{ product.id }}">
                                        <a href="http://127.0.0.1:8000/item/{{ product.id }}/">
                                            <img class="br-25" src="{{ product.image.crop.290x290 }}"
                                                 alt="Изображение товара">
                                        </a>
                                        <div class="favorite" data-product-id="{{ product.id }}">
                                            <img src="{% static 'img/hearter.svg' %}" alt="">
                                        </div>
                                        <h2>{{ product.title }}</h2>
                                        <p class="price">{{ product.price }}грн</p>
                                        <p class="pricezsu">
                                            <img src="{% static 'img/flag.svg' %}" alt="">
                                        <p class="cina">{{ product.price_zsu }}грн</p>
                                        </p>
                                        <button class="buy-button">Купити</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% if not products %}
                        <div class="no__product">
                        <div><img class="no__product_img" src="{% static 'img/noproduct.png' %}" alt=""></div>
                        <div class="no__product_text">Наразі немає товарів</div>
                       </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="new_items">
            <div class="textnew">
                Для вас
            </div>
            <div class="vievmoreitem">
                <a href="http://127.0.0.1:8000/favorite">Показати ще</a>
            </div>
            <div class="imgproductitem">
                <div class="block">
                    <div class="block__row">
                        {% for favourite_product in favourite_products %}
                            <div class="block__element block__element_1">
                                <div class="block__content">
                                    <div class="product" data-product-id="{{ favourite_product.product.id }}">
                                        <a href="http://127.0.0.1:8000/item/{{ favourite_product.product.id }}/">
                                            <img class="br-25" src="{{ favourite_product.product.image.crop.290x290 }}"
                                                 alt="Изображение товара">
                                        </a>
                                        <div class="favorite" data-product-id="{{ favourite_product.product.id }}">
                                            <img src="{% static 'img/hearter.svg' %}" alt="">
                                        </div>
                                        <h2>{{ favourite_product.product.title }}</h2>
                                        <p class="price">{{ favourite_product.product.price }}грн</p>
                                        <p class="pricezsu">
                                            <img src="{% static 'img/flag.svg' %}" alt="">
                                        <p class="cina">{{ favourite_product.product.price_zsu }}грн</p>
                                        </p>
                                        <button class="buy-button">Купити</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% if not favourite_products %}
                        <div class="no__product">
                        <div><img class="no__product_img" src="{% static 'img/noproduct.png' %}" alt=""></div>
                        <div class="no__product_text">Наразі немає товарів</div>
                       </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="new_items">
            <div class="textnew">
                Хіти продаж
            </div>
            <div class="vievmoreitem">
                <a href="http://127.0.0.1:8000/search/?page=1&sort_by=rating">Показати ще</a>
            </div>
            <div class="imgproductitem">
                <div class="block">
                    <div class="block__row">
                        {% for product in top_rated_products %}
                            <div class="block__element block__element_1">
                                <div class="block__content">
                                    <div class="product" data-product-id="{{ product.id }}">
                                        <a href="http://127.0.0.1:8000/item/{{ product.id }}/">
                                            <img class="br-25" src="{{ product.image.crop.290x290 }}"
                                                 alt="Изображение товара">
                                        </a>
                                        <div class="favorite" data-product-id="{{ product.id }}">
                                            <img src="{% static 'img/hearter.svg' %}" alt="">
                                        </div>
                                        <h2>{{ product.title }}</h2>
                                        <p class="price">{{ product.price }} грн</p>
                                        <p class="pricezsu">
                                            <img src="{% static 'img/flag.svg' %}" alt="">
                                        <p class="cina">{{ product.price_zsu }} грн</p>
                                        </p>
                                        <button class="buy-button">Купити</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% if not top_rated_products %}
                        <div class="no__product">
                        <div><img class="no__product_img" src="{% static 'img/noproduct.png' %}" alt=""></div>
                        <div class="no__product_text">Наразі немає товарів</div>
                       </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="new_items">
            <div class="textnew textnew-op">
                Останні переглянуті
            </div>
            <div class="imgproductitem">
                <div class="block">
                    <div class="block__row">
                        {% for product in last_viewed_products %}
                            <div class="block__element block__element_1">
                                <div class="block__content">
                                    <div class="product" data-product-id="{{ product.id }}">
                                        <a href="http://127.0.0.1:8000/item/{{ product.id }}/">
                                            <img class="br-25" src="{{ product.image.crop.290x290 }}"
                                                 alt="Изображение товара">
                                        </a>
                                        <div class="favorite" data-product-id="{{ product.id }}">
                                            <img src="{% static 'img/hearter.svg' %}" alt="">
                                        </div>
                                        <h2>{{ product.title }}</h2>
                                        <p class="price">{{ product.price }}грн</p>
                                        <p class="pricezsu">
                                            <img src="{% static 'img/flag.svg' %}" alt="">
                                        <p class="cina">{{ product.price_zsu }}грн</p>
                                        </p>
                                        <button class="buy-button">Купити</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% if not last_viewed_products %}
                        <div class="no__product">
                        <div><img class="no__product_img" src="{% static 'img/noproduct.png' %}" alt=""></div>
                        <div class="no__product_text">Наразі немає товарів</div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer-content">
        <div class="pashtet">
            PASHTET
        </div>
        <div class="info">
            ТМ використовується на підставі ліцензії правовласника Pashtet Code Breakers
            © 2023 Благодійний маркет-плейс «PASHTET™»
        </div>
        <div class="social-links">
            <a class="social-links__link" href="#">Facebook</a>
            <a class="social-links__link" href="#">Twitter</a>
            <a class="social-links__link" href="#">Instagram</a>
        </div>
    </div>
</footer>
<script class="script" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script class="script" src="{% static 'js/slick.min.js' %}"></script>
<script class="script" src="{% static 'js/login_logout_btn.js' %}"></script>
<script class="script" src="{% static 'js/mainpage_script.js' %}"></script>
<script class="script" src="{% static 'js/is_favourite.js' %}"></script>
<script class="script" src="{% static 'js/header.js' %}"></script>
<script class="script" src="{% static 'js/recently_viewed.js' %}"></script>
<script class="script" src="{% static 'js/text_slicing_25.js' %}"></script>
</body>

</html>