{% extends 'index.html' %}

{% block content %}
    <div class="block">
        <div class="block__row">
            {% for product in products %}
                <div class="block__element block__element_1">
                    <div class="block__content">
                        <div class="product">
                            <img src="{{ product.image.crop.290x290 }}" alt="Изображение товара">
                            <div class="favorite">
                                <img src="{% static 'img/hearter.svg' %}" alt="">
                            </div>
                            <h2>{{ product.title }}</h2>
                            <p class="price">{{ product.price }}грн</p>
                            <p class="pricezsu">
                                <img src="{% static 'img/flag.svg' %}" alt="">
                                <p class="cina">15грн</p>
                            </p>
                            <button class="buy-button">Купить</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
