.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.pagination a {
    color: black;
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
    border-radius: 50%;
}

.pagination a.active {
    background-color: #c28dff;
    color: #000;
    border: 2px solid #9335ff;
    border-radius: 50%;

}

.pagination a::after {
    background-color: #c28dff;
    color: #000;
    border: 2px solid #9335ff;
    border-radius: 50%;

}

.pagination a:hover:not(.active):not(:first-child):not(:last-child) {
    background-color: #fff;
    border: 2px solid #9335ff;

    border-radius: 50%;
}